<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{htmlTitle}}</title>
    <link rel="stylesheet" href="/{{version}}/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/{{version}}/assets/css/component.css">
    <link rel="stylesheet" href="/{{version}}/assets/css/custom.css">
    <link rel="stylesheet" href="{{projectAssets}}/css/cssgrids-min.css">
    <link rel="stylesheet" href="{{projectAssets}}/vendor/prettify/prettify-min.css">
    <link rel="stylesheet" href="{{projectAssets}}/css/main.css" id="site_styles">
    <link rel="shortcut icon" type="image/png" href="/{{version}}/assets/img/favicon.ico">
    <script src="http://g.tbcdn.cn/kissy/k/1.4.2/seed-min.js" type="text/javascript" data-config="{combine:true}"></script>
    <script src="{{projectAssets}}/js/component.js"></script>
</head>
<body class="yui3-skin-sam">
<div class="container">
    <header class="header clearfix">
        <div class="logo">
            <a href="/{{version}}">
                <img src="/{{version}}/assets/img/logo.png" alt="">
            </a>
        </div>
        <div class="search">
            <script>
              (function() {
                var cx = '003618533255763067140:5nkycw1pbey';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                    '//www.google.com/cse/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
              })();
            </script>
            <gcse:search></gcse:search>
        </div>
        <div id="header-toolbar"></div>
    </header>
    <div id="doc">
        <div id="bd" class="yui3-g">
            <div class="yui3-u-1-4">
                <div id="docs-sidebar" class="sidebar">
                    {{>sidebar}}
                </div>
            </div>
            <div class="yui3-u-3-4">
                {{>options}}
                <div class="apidocs">
                    <div id="docs-main">
                        <div class="content">
                            {{>layout_content}}
                        </div>
                    </div>
                </div>
                <div id="disqus_thread"></div>
                <script>
                    if((window.location.hostname.indexOf("kissyui.com")!=-1 )&& window.localStorage.getItem("kissy-commment")!="0"){
                    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                    var disqus_shortname = 'kissy-docs'; // required: replace example with your forum shortname

                    // The following are highly recommended additional parameters. Remove the slashes in front to use.
                     //var disqus_identifier = '/anim';
                     //var disqus_url = window.location;

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                    }
                </script>
            </div>
        </div>
    </div>
</div>
</body>
</html>
